<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template onload="obtenerClientes()">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

        <div class="row">
            <h1>Gestor de Clientes</h1>
        </div>
        <div class="row">
            <button on-click="obtenerClientes" class="btn-danger col-lg-4 col-xs-12" type="button" name="button">Obtener Clientes</button>
            <button on-click="insertarClientes" class="btn-warning col-lg-4 col-xs-12" type="button" name="button">Registrar</button>
        </div>
        <br>
        <div class="row">
          Nombre: <input type="contactName" value="{{contactName::input}}">
          <br>
          Compañia: <input type="companyName" value="{{companyName::input}}">
          <br>
        </div>
        <br>
        <div class="row">
            <table class ="table table-striped">
              <tbody>
                <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>[[item.customerID]]</td>
                    <td>[[item.contactName]]</td>
                    <td>[[item.companyName]]</td>
                  </tr>
                </template>
              </tbody>
            </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true  //Realizar la peticion sincrona
          },
          customerID: {
            type: Number
          },
          contactName: {
            type: String
          },
          companyName: {
            type: String
          }
        };
      }
      obtenerClientes(){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3005/v3/Clientes";
        var request = new XMLHttpRequest();

        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        //this.clientes = JSON.parse(request.response).value;
        this.clientes = JSON.parse(request.responseText);
        //this.clientes.count;
        this.customerID = this.clientes.length;
        //console.table(this.clientes);
      }

      insertarClientes(){
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3005/v3/Clientes";
        var request = new XMLHttpRequest();
        var idCustomer = this.customerID +1;

        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
      //  var nuevoCliente = {"CustomerID":12345, "ContactName": "Jesus Nigenda", "CompanyName": "BBVA"};
        //this.customerID = 30;
        var nuevoCliente={"customerID": idCustomer, "contactName": this.contactName, "companyName": this.companyName}
        var body = JSON.stringify(nuevoCliente);
        request.send(body);

        this.respuesta = request.responseText;
        alert(this.respuesta);
        //console.log(this.respuesta);

      }
}

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
