<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <div class="col-sm-12" class="page-header">
          <h1>Login</h1><hr>
        </div>
        <div class="col-sm-1">
          Email:
        </div>
        <div class="col-sm-11">
          <input type="email" value="{{email::input}}" placeholder="" required><br/>
        </div>
        <div class="col-sm-1">
          Password:
        </div>
        <div class="col-sm-11">
          <input type="password" value="{{password::input}}" required><br/>
        </div>

        <div class="col-sm-1 mt-2">
          <button on-click="login" class="btn btn-info">Ingresar</button>
        </div>
        <div class="col-sm-11 mt-2">
          <button on-click="showRegistraUsuario" class="btn btn-info">Registrarse</button>
        </div>

        <!-- Formulario Registra Usuario  -->
        <form >
          <div class="row h-75 mt-5" hidden$={{!showAlta}}>
            <div class="col-sm-12" class="page-header">
              <h1>Nuevo Usuario</h1><hr>
            </div>

            <div class="col-sm-1">
              Email:
            </div>
            <div class="col-sm-11">
              <input type="email" value="{{emailRegistra::input}}" placeholder="" required><br/>
            </div>

            <div class="col-sm-1">
              Password:
            </div>
            <div class="col-sm-11">
              <input type="password" value="{{passwordRegistra::input}}" required><br/>
            </div>

            <div class="col-sm-2">
              Confirmar Password:
            </div>
            <div class="col-sm-10">
              <input type="password" value="{{password2Registra::input}}" required><br/>
            </div>

            <div class="col-sm-1">
              Nombre:
            </div>
            <div class="col-sm-11">
              <input type="text" value="{{nombreRegistra::input}}" required><br/>
            </div>

            <div class="col-sm-1">
              Apellido Paterno:
            </div>
            <div class="col-sm-11">
              <input type="text" value="{{apellidoPaternoRegistra::input}}" required><br/>
            </div>

            <div class="col-sm-1">
              Apellido Materno:
            </div>
            <div class="col-sm-11">
              <input type="text" value="{{apellidoMaternoRegistra::input}}" required><br/>
            </div>

            <div class="col-sm-2">
              Cuenta:
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{idCuentaRegistra::input}}" ng-pattern="[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
            </div>

            <div class="col-sm-2">
              Monto:
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{montoRegistra::input}}" ng-pattern="[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
            </div>

            <div class="col-sm-2">
              <button on-click="altaUsuario" class="btn btn-success">Guardar</button>
            </div>

            <div class="col-sm-6">
              <button on-click="cancelarAltaUsuario" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>
     </div>

      <!-- Detalle de cuentas    -->
      <div class="row h-75 mt-5" hidden$={{!logado}}>
        <div class="col-sm-11" class="page-header">
          <h1>Hola, [[cliente.nombre]]</h1>
        </div>
        <div class="col-sm-1" class="page-header">
          <button on-click="cerrarSesion" class="btn btn-danger">Salir</button>
        </div>
        <div class="col-sm-3" class="page-header">
          <h5>Fecha: </h5>
        </div>
        <div class="col-sm-9" >
          <h5>[[resultFecha.dayOfTheWeek]] -- [[resultFecha.currentDateTime]]</h5>
        </div>
        <div class="col-sm-3" class="page-header">
          <h5>Tipo de Cambio: </h5>
        </div>
        <div class="col-sm-9" >
          <h5>USD [[resultTipoCambio.status]] --  MXN $[[resultTipoCambio.result.value]]</h5>
        </div>

        <div class="col-sm-4" class="page-header">
          <h3>Cuentas: </h3>
        </div>
        <div class="col-sm-4">
          <button on-click="cuentas" class="btn btn-primary">Ver Cuentas</button>
        </div>
        <div class="col-sm-4">
          <button on-click="verAsociarCuenta" class="btn btn-primary">Nueva Cuenta</button>
        </div>
        <div class="col-sm-12">
          <table class="table table-hover">
            <tbody>
              <thead>
                <th>Cuenta</th>
                <th>monto</th>
                <th></th>
              </thead>
              <template is="dom-repeat" items="{{cuentasArray}}" index-as="indexCuenta">
                <tr>
                  <td>[[item.idCuenta]]</td>
                  <td>[[item.monto]]</td>
                  <td><button on-click="verMovimientos" class="btn btn-info" id="[[indexCuenta]]" value="{{indexCuenta}}">Detalle</button></td>
                  <td><button on-click="verMovimientos" class="btn btn-danger" id="[[indexCuenta]]" value="{{indexCuenta}}">Eliminar</button></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        <!-- Registrar cuenta -->
        <div class="row h-75 mt-5" hidden$={{!showAltaCuentas}}>
          <div class="col-sm-12" class="page-header">
            <h1>Cuenta</h1><hr>
          </div>
          <div class="col-sm-2">
            Número:
          </div>
          <div class="col-sm-10">
            <input type="text" value="{{asociarCuentaAlta::input}}" pattern="pattern=[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
          </div>
          <div class="col-sm-2">
            Monto:
          </div>
          <div class="col-sm-10">
            <input type="text" value="{{asociarMontoCuentaAlta::input}}" pattern="pattern=[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
          </div>
          <div class="col-sm-2 h-25 mt-5">
            <button on-click="asociarCuenta" class="btn btn-success">Guardar</button>
          </div>
          <div class="col-sm-6 h-25 mt-5">
            <button on-click="cancelarAsociarCuenta" class="btn btn-danger">Cancelar</button>
          </div>
        </div>

        <!-- Detalle de movimientos -->
        <div class="row h-75 mt-5" hidden="{{!showMovimientos}}">
          <div class="col-sm-6" class="page-header">
            <h3>Movimientos de la cuenta: [[cuentaSeleccionada]]</h3>
          </div>
          <div class="col-sm-6" >
            <button on-click="verAltaMovimientos" class="btn btn-info">Nuevo Movimiento</button>
          </div>

          <div class="col-sm-2">
            <h6>Fecha Inicial:</h6>
          </div>
          <div class="col-sm-10">
            <input type="date" step="1" value="{{fechaIni::input}}" required><br/>
          </div>
          <div class="col-sm-2">
            <h6>Fecha Final:</h6>
          </div>
          <div class="col-sm-3" >
            <input type="date" step="1" value="{{fechaFin::input}}" required><br/>
          </div>
          <div class="col-sm-3" >
            <button on-click="filtrarMovimientos" class="btn btn-info">Buscar</button>
          </div>
          <div class="col-sm-4" >
            <button on-click="borrarFiltro" class="btn btn-info">Limpiar Fechas</button>
          </div>

          <div class="col-sm-12" class="page-header">
            <table class="table table-hover">
              <tbody>
                <thead>
                  <th>Fecha de movimiento</th>
                  <th>Importe</th>
                  <th>Tipo de movimiento</th>
                </thead>
                <template is="dom-repeat" items="{{arrayFiltrado}}">
                    <tr>
                      <td>[[item.fecha]]</td>
                      <td>$ [[item.importe]]</td>
                      <td>[[item.tipo]]</td>
                    </tr>
                </template>
              </tbody>
            </table>
          </div>

          <!-- Crear movimientos -->
          <div class="row h-75 mt-5" hidden$={{!showAltaMovimientos}}>
            <div class="col-sm-12" class="page-header">
              <h1>Movimiento</h1><hr>
            </div>
            <div class="col-sm-2">
              Importe:
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{importeAlta::input}}" pattern="pattern=[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
            </div>

            <div class="col-sm-2">
              Tipo movimiento:
            </div>
            <div class="col-sm-10">
              <select class="selectpicker" id="tipoMovimientoAlta" value="{{tipoMovimientoAlta::input}}" required>
                <option value = "" disabled selected></option>
                <option value = "DEPOSITO">DEPOSITO</option>
                <option value = "RETIRO">RETIRO</option>
             </select>
            </div>

            <div class="col-sm-2">
              <button on-click="altaMovimiento" class="btn btn-success">Guardar</button>
            </div>
            <div class="col-sm-6">
              <button on-click="cancelarAltaMovimiento" class="btn btn-danger">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url= "[[dominio]]/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      last-response="{{cliente}}"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseLogin"
      on-error="showErrorLogin"></iron-ajax>

      <iron-ajax
         url="https://world-clock.p.rapidapi.com/json/est/now"
         auto
         method="GET"
         content-type="application/json"
         handle-as="json"
         crossDomain: true
         headers='{"Access-Control-Allow-Headers": "*",
         "x-rapidapi-host": "world-clock.p.rapidapi.com",
         "x-rapidapi-key": "171d509d33mshe51b8b5f9142f35p1716f4jsn8bbdce84c101"}'
         last-response="{{resultFecha}}"
      ></iron-ajax>

      <iron-ajax
         url="https://api.cambio.today/v1/quotes/USD/MXN/json?quantity=1&key=2670|zv*_S0ApK*i^uLAxTxqpAy_2cH9vCM*Z"
         auto
         method="GET"
         content-type="application/json"
         handle-as="json"
         crossDomain: true
         headers='{"Access-Control-Allow-Headers": "*"}'
         last-response="{{resultTipoCambio}}"
      ></iron-ajax>

    <iron-ajax
      id="getCuentas"
      url="[[dominio]]/usuarios/[[cliente.idCliente]]"
      content-type="application/json"
      dataType: 'jsonp'
      handle-as="json"
      params=[[this.cliente.idCliente]]
      last-response="{{cuentasArray}}"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseCuentas"
      on-error="showErrorCuentas"></iron-ajax>

    <iron-ajax
      id="crearUsuario"
      url="[[dominio]]/usuarios"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAltaUsuario"
      on-error="showErrorAltaUsuario" id="eAlta"></iron-ajax>

    <iron-ajax
      id="crearMovimiento"
      url="[[dominio]]/clientes/[[cliente.idCliente]]/movimientos"
      content-type="application/json"
      params=[[this.cliente.idCliente]]
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAltaMovimiento"
      on-error="showErrorAltaMovimiento"></iron-ajax>

    <iron-ajax
      id="asociarCuentaCliente"
      url="[[dominio]]/cuentas/[[cliente.idCliente]]"
      content-type="application/json"
      params=[[this.cliente.idCliente]]
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAsociarCuentaCliente"
      on-error="showErrorAsociarCuentaCliente"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          dominio:{
            type: String,
            //value: "http://127.0.0.1:3002/v1"
            value: "http://localhost:3002/v1"
            //value: "http://localhost:3005/v1"
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          indexCuenta:{
            type: Number
          },
          movimientosArray:{
            type: Array
          },
          showMovimientos:{
            type: Boolean,
            value: false
          },
          cuentaSeleccionada:{
            type: Number
          },
          showAlta:{
            type: Boolean,
            value: false
          },
          nombreRegistra:{
            type: String
          },
          apellidoPaternoRegistra:{
            type: String
          },
          apellidoMaternoRegistra:{
            type: String
          },
          emailRegistra: {
            type: String
          },
          passwordRegistra: {
            type: String
          },
          password2Registra: {
            type: String
          },
          idCuentaRegistra: {
            type: Number
          },
          montoRegistra: {
            type: Number
          },
          showAltaMovimientos:{
            type: Boolean,
            value: false
          },
          importeAlta:{
            type: Number,
            value: 0.00
          },
          tipoMovimientoAlta:{
            type: String
          },
          fechaIni:{
            type: Date
          },
          fechaFin:{
            type: Date
          },
          arrayFiltrado:{
            type:Array
          },
          tipoCambio:{
            type: Number
          },
          showAltaCuentas:{
            type:Boolean,
            value: false
          },
          asociarCuentaAlta:{
            type: Number
          },
          asociarMontoCuentaAlta:{
            type: Number
          },
          asociarTipoCuentaAlta:{
            type: String
          }
        };
      }
      //Accion para el cierre de sesión
      cerrarSesion(){
        this.cuentasArray = null;
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
        this.email = null;
        this.password = null;
        this.cancelarAltaUsuario();
        this.logado = false;
      }

      //Muestra el componente para dar de alta un nuevo usuario
      showRegistraUsuario(){
        this.emailRegistra = null;
        this.passwordRegistra  = null;
        this.password2Registra  = null;
        this.nombreRegistra  = null;
        this.apellidoPaternoRegistra  = null;
        this.apellidoMaternoRegistra  = null;
        this.cuentaRegistra  = null;
        this.montoRegistra  = null;
        this.showAlta = true;
      }

      //Oculta el componente para dar de alta un usuario
      cancelarAltaUsuario(){
        this.nombreRegistra = null;
        this.apellidoPaternoRegistra = null;
        this.apellidoMaternoRegistra = null;
        this.emailRegistra = null;
        this.passwordRegistra = null;
        this.password2Registra = null;
        this.idCuentaRegistra = null;
        this.montoRegistra = null;
        this.showAlta = false;
      }

      //Oculta el componente para dar de alta un usuario
      obtieneTipoCambio(){
        var resultTipoCam = {
          "format": "json",
          "to": "MXN",
          "from": "USD",
          "amount": 1
        };

        this.$.jsonTipoCambio.body = JSON.stringify(resultTipoCam);
        this.$.jsonTipoCambio.generateRequest();

        element.preventDefault();
      }
      //Crea un nuevo usuario y su cuenta asociada
      altaUsuario(element){
        var altaUsuarioData = {
          "email": this.emailRegistra,
          "password": this.passwordRegistra,
          "password2": this.password2Registra,
          "nombre": this.nombreRegistra,
          "apellidoPaterno": this.apellidoPaternoRegistra,
          "apellidoMaterno": this.apellidoMaternoRegistra,
          "idCuenta": this.idCuentaRegistra,
          "monto": this.montoRegistra
        };

        if(this.passwordRegistra != this.password2Registra){
          alert("El password no coincide en la confirmación");
          element.preventDefault();
        }
        else if(this.emailRegistra == null || this.passwordRegistra == null || this.password2Registra == null ||
           this.nombreRegistra == null || this.apellidoPaternoRegistra == null || this.apellidoMaternoRegistra == null ||
           this.idCuentaRegistra == null || this.montoRegistra == null){
          alert("Faltan datos requeridos para el registro del usuario.");
          element.preventDefault();
        }else{
          this.$.crearUsuario.body = JSON.stringify(altaUsuarioData);
          this.$.crearUsuario.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones a realizar si la creacion del usuario fue exitosa
      manageAJAXResponseAltaUsuario(data){
        if (!data.detail.response.error){
          this.showAlta = false;
        }else{
          this.showAlta = true;
        }
          alert(data.detail.response.mensaje);
      }

      //Acciones a realizar si la creacion del usuario falló
      showErrorAltaUsuario(error){
        alert(error.detail.request.response.mensaje);
      }

      //Ingreso a la aplicación
      login(){
        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }

      ////Acciones a realizar si el loggin fue exitoso
      manageAJAXResponseLogin(data){
        if (data.detail.response.error){
          alert(error.detail.response.mensaje);
        }else {
          this.logado = true;
        }
      }

      //Acciones a realizar si el login no fue exitoso
      showErrorLogin(error){
        alert(error.detail.request.response.mensaje);
      }

      //Busca el tipo de cambio
      manageAJAXResponseTipoCambio(data){
        this.logado = true;
        this.tipoCambio = data.detail.response.result.amount.toFixed(2);
      }

      //Error en la busqueda del tipo de cambio
      showErrorTipoCambio(error){
          alert("No se pudo obtener el tipo de cambio, intentelo mas tarde.");
      }

      //Busca las cuentas relacionados al usuario firmado
      cuentas(){
        var clienteData = {
          "idCliente": this.cliente.idCliente
        };
        this.$.getCuentas.generateRequest();
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
      }

      //Acciones si la busqueda de cuentas fue exitosa
      manageAJAXResponseCuentas(data){
        this.movimientosArray = null;
      }

      //Acciones si la busqueda de cuentas no fue exitosa
      showErrorCuentas(error){
        alert("No se obtuvo información de las cuentas.");
      }

      //Muestra el componente para asociar una nueva cuanta al usuario firmado
      verAsociarCuenta(){
        this.showAltaCuentas = true;
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showMovimientos = false;
        this.asociarCuentaAlta = null;
        this.asociarMontoCuentaAlta = null;
        this.asociarTipoCuentaAlta = null;
      }

      //Oculta el componente para asociar una cuenta
      cancelarAsociarCuenta(){
        this.showAltaCuentas = false;
        this.asociarCuentaAlta = null;
        this.asociarMontoCuentaAlta = null;
        this.asociarTipoCuentaAlta = null;
      }

      //Guarda y asocia la cuenta capturada al cliente firmado
      asociarCuenta(){
        var altaAsociarCuentaData = {
          "idCuenta": this.asociarCuentaAlta,
          "monto": this.asociarMontoCuentaAlta
        };
        if(this.asociarCuentaAlta == null || this.asociarCuentaAlta <= 0 || this.asociarMontoCuentaAlta == null || this.asociarMontoCuentaAlta <= 0){
          alert("Favor de capturar el numero de cuenta y el monto.");
        }
        else{
          this.$.asociarCuentaCliente.body = JSON.stringify(altaAsociarCuentaData);
          this.$.asociarCuentaCliente.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones si la asociacion de cuentas fue exitosa
      manageAJAXResponseAsociarCuentaCliente(data){
        if (!data.detail.response.error){
          this.showAltaCuentas = false;
        }else{
          this.showAltaCuentas = true;
        }
        alert(data.detail.response.mensaje);
        this.cuentas();
      }

      //Acciones si la asociacion de cuentas no fue exitosa
      showErrorAsociarCuentaCliente(error){
        this.showAltaCuentas = true;
        alert(error.detail.request.response.mensaje);
      }

      //Muestra el componente para ver los movimineto realizados de la cuenta seleccionada
      verMovimientos(element){
        var item = element.target.id;
        this.showMovimientos = true;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
        this.movimientosArray = this.cuentasArray[item].movimientos;
        this.arrayFiltrado = this.movimientosArray;
        this.cuentaSeleccionada = this.cuentasArray[item].idCuenta;
        this.fechaIni = null;
        this.fechaFin = null;
      }

      //Muestra el componente para dar de alta un movimiento
      verAltaMovimientos(element){
        this.importeAlta = null;
        this.tipoMovimientoAlta = null;
        this.showAltaMovimientos = true;
        this.showAltaCuentas = false;
      }

      //Oculta el componente par dar de alta movimientos
      cancelarAltaMovimiento(){
        this.importeAlta = null;
        this.tipoMovimientoAlta = null;
        this.showAltaMovimientos = false;
      }

      //Guarda un nuevo movimiento a la cuenta seleccionada
      altaMovimiento(element){
        var altaMovimientoData = {
          "importeAlta": this.importeAlta,
          "tipoMovimientoAlta": this.tipoMovimientoAlta,
          "idCuenta": this.cuentaSeleccionada
        };

        if(this.importeAlta == null || this.tipoMovimientoAlta == null || this.importeAlta <= 0 || this.tipoMovimientoAlta == ""){
            alert("Favor de capturar el importe y tipo de movimiento.");
        }
        else{
          this.$.crearMovimiento.body = JSON.stringify(altaMovimientoData);
          this.$.crearMovimiento.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones si la creación del movimiento fue exitosa
      manageAJAXResponseAltaMovimiento(data){
        this.showAltaMovimientos = false;
        alert("Movimiento creado exitosamente");
        this.cuentas();
      }

      //Acciones si la creación del movimiento no fue exitosa
      showErrorAltaMovimiento(error){
        alert(error.detail.request.response.mensaje);
      }

      //Filtra los moviimentos por fechas
      filtrarMovimientos(){
        if(this.fechaIni == null ||this.fechaIni == "" || this.fechaFin == null || this.fechaFin == ""){
          this.arrayFiltrado = this.movimientosArray;
        }
        else{
          var fechaFin24 = new Date(this.fechaFin).setHours(23,59,59,59);
          var fechaIni24 = new Date(this.fechaIni).setHours(0,0,0,0);
          if(fechaFin24 < fechaIni24){
            alert("La fecha inicial no puede ser mayor a la final");
          }
          else if(this.movimientosArray != null && this.movimientosArray.length > 0){
            this.arrayFiltrado = this.movimientosArray.filter((m => new Date(m.fecha) >= new Date(fechaIni24) &&  new Date(m.fecha) <= new Date(fechaFin24)));
          }
        }
      }

      //Borra los filtros de fechas capturados
      borrarFiltro(){
        this.fechaIni = null;
        this.fechaFin = null;
        this.filtrarMovimientos();
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
